<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>You can add new students details here....</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quaerat eum, tempore non ullam nobis harum optio dolor aut mollitia placeat necessitatibus voluptatem fuga, vero labore! Sapiente dignissimos officia est!</p>
    <br/>
    <br/>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni rerum consequatur nostrum, possimus quidem laboriosam mollitia aspernatur temporibus corporis recusandae laudantium, fugit sunt commodi, ut veniam. Vitae sunt molestias repellendus?</p>
    <h1>updated</h1>
</body>
</html>