<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Attendance details of the students are follows</h2>
<b>class 1A</b>
<table border="2">
    <tr>
        <th>Name</th>
        <th>%of Attendance</th>
    </tr>
    <tr>
        <td>Lorem.</td>
        <td>90</td>
    </tr>
    <tr>
        <td>Lorem.</td>
        <td>88</td>
    </tr>
    <tr>
        <td>Lorem.</td>
        <td>89</td>
    </tr>
    <tr>
        <td>Lorem.</td>
        <td>89</td>
    </tr>
    <tr>
        <td>Lorem.</td>
        <td>89</td>
    </tr>
    <tr>
        <td>Lorem.</td>
        <td>89</td>
    </tr>
    <tr>
        <td>Lorem.</td>
        <td>89</td>
    </tr>
</table>

</body>
</html>