{% extends 'schooladmin/master.html' %}
{% block school %}Exampletitle{% endblock %}
{% block content %}
<h1>Welcome admin</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda nisi nihil ut, quisquam dolorem ipsam consequuntur ab. Dolorem cumque veniam aut numquam quo enim qui fuga excepturi, architecto eum?</p>
    <br/>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore neque distinctio quas hic nobis aut nihil unde ipsum error molestias.</p>


{% endblock %}


   