<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hey student you can change your password here</h1>
    <label>old password</label>
    <input type="password"><br/>
    <br/>
    
    <label background-color="red">New password</label>
    <input type="password">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum numquam optio ratione doloribus commodi architecto. Rem nisi nihil repellendus pariatur quae exercitationem! Sint culpa consequatur nam, corrupti explicabo voluptas.</p>
</body>
</html>