<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome teacher login</h2>
     <form action="{% url 'teacher:tr_home' %}">
    <table>
    <tr>
    <td>
    <label>UserName</label>
    <input type="text"><br/>
    </td>
    <tr>
    <td>
    <label>Password</label>&nbsp;&nbsp;
    <input type="password"><br/>
    </td>
</tr>
<tr>
    <td>
        <input type="submit" value="Submit"></input>
    </td>
</tr>
</table>
</form> 
</body>
</html>