<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Please add your students attendance</h2>
    <table width="40%" border="2">
        <tr>
            <th>Name</th>
            <th>class</th>
            <th>Division</th>
        </tr>
        <tr>
            <td>dysgddgg</td>
            <td>2</td>
            <td>A</td>
        </tr>
        <tr>
            <td>dysgddgg</td>
            <td>2</td>
            <td>A</td>
        </tr>
        <tr>
            <td>dysgdgf</td>
            <td>2</td>
            <td>A</td>
        </tr>

    </table>
</body>
</html>